<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="/reservation" method="post">-->
<!--    <button type="submit" formmethod="POST">입장하기 #타이머가 있으면 좋을까요?</button>-->
<!--</form>-->

<!--<form action="/reservation" method="get">-->
<!--    <button type="submit" formmethod="get">예매확인하기</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <title>MOVIE</title>
    <link rel="shortcut icon" href="/React-PortFolio/favicon.ico">
    <link rel="stylesheet" type="text/css"  href="/static/img/mobile.css" media="only screen and (max-width:400px)"  />
    <link rel="stylesheet" type="text/css"  href="/static/img/desktop.css" media="only screen and (min-width:401px)"  />
    <link rel="stylesheet" type="text/css"  href="/static/img/button.css"/>

    </style>
</head>
<body>
<div id="skipNav">
    <a href="./home.html">MOVIE</a>
</div>
<hr class="hidden" />

<div id="wrap">
    <div id="header">
        <h1 id="logo"><img src="/static/img/cgv.png" width="200" height="100" alt="CGV_LOGO" /></h1>
        <h2 class="noVisible">메인메뉴</h2>
        <ul id="menu">
            <li class="current"><a href="home.html">HOME</a></li>
        </ul>
    </div>
    <hr class="hidden" />

    <div id="contents">
        <div id="campaign">
            <img src="/static/img/earth.jpg"  width="945" height="590" alt=""  />
            <form action="/reservation" method="post">
                <button class="w-btn-outline w-btn-green2-outline" type="submit" formmethod="post">입장하기</button>
            </form>
        </div>
    </div>
    <hr  class="hidden" />

</div>
</body>
</html>